.sign-up-box {
	width: 330px;
	margin: 30px auto;
	padding: 40px;
	background: rgba(81, 90, 224, 0.1);
	border-radius: 30px;
}

.sign-up-box h1 {
	margin: 3px 0 7px 0;
	padding: 0;
	font-weight: 300;
}

.sign-up-box p {
	font-size: 12px;
	line-height: 1.2em;
	text-align: left;
}

.sign-up-box form {
	display: flex;
	flex-direction: column;
}

label {
	text-align: left;
}
